.sales-reports-wrapper {
  background-color: #fff9c7;
  border-radius: 0px;
  padding: 1rem;
  margin-bottom: 0rem;
  height: 100vh;
  color: #000000;
}

.form-reports-title {
  font-family: "Bangers", cursive;
  color: #92ff00;
  font-size: 2rem;
  text-shadow: 1px 1px 5px #000;
  padding-top: 1rem;
}

.sales-reports-summary-header {
  font-size: 1.5rem;
  color: #040404;
  font-family: "tahoma", sans-serif;
  margin-bottom: 0.5rem;
}

.sales-reports-breakdown {
  margin-top: 2rem;
}

.sales-reports-breakdown h3 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  color: #000000 !important;
}

.table th {
  background-color: #c03221;
  color: #ffffff;
  font-family: "tahoma", sans-serif;
  font-size: 1rem;
}

.table td {
  vertical-align: middle;
  padding: 5px;
  background-color: white;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #eaeaea;
  margin-left: 10px;
  margin-right: 10px;

  font-family: "tahoma", sans-serif;
  font-size: 1rem;
}

.table-hover tbody tr:hover {
  background-color: #444;
}

.table-light td,
.table-light th {
  background-color: #f8f9fa;
  color: #000;
}
